<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>{% block title %}DEFAULT{% endblock %} - MEDIALAB</title>
	<link rel="shortcut icon" href="static/images/favicon.ico" type="images/x-icon"/>
	<link rel="stylesheet" type="text/css" href="static/css/index.css" />
	<script type="text/javascript" src="static/script/jquery.min.js" ></script>
	<script type="text/javascript" src="static/script/jquery.easing.min.js"></script>
	<script type="text/javascript" src="static/script/custom.js"></script>
	<script type="text/javascript" src="static/script/login.js"></script>
	<script type="text/javascript" src="static/script/mediaFile.js"></script>
	<script type="text/javascript" src="static/script/mediaUpload.js"></script>
	<script type="text/javascript" src="static/script/demo.js"></script>
	{% block css %}{% endblock %}
</head>
<body>
 
{% include 'nav.html' %}
<br><br><br>
{% block content %}
{% endblock %}
 
{% include 'bottom.html' %}
 
</body>
</html>