<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
</head>
<body>
<div style="display:none" id="judgeloginornot"></div>
<div style="display:none" id="judgeloginstate"></div>
<div id="header">
  <div > 
  	<div class="leadinglist fl" >
  		<ul>
  			<li><a href="/imagerec" style="background:#505050">Recognition</a></li>
		</ul>
  	</div>
    <div class="login fr" id="loginregdiv" style="display:none;">
      <div class="loginmenu"><a title="Login or Register"></a></div>
      <ul>
        <li class="openlogin"><a href="" onclick="return false;">Login</a></li>
        <li class="reg"><a href="" onclick="return false;">Register</a></li>
      </ul>
    </div>   
    <div class="login fr" id="logineddiv" style="display:none;">
    	<div id="logineduserdiv" style="float:left" ></div>
    	<div class="logout">&nbsp;&nbsp;<a href="/" onclick="logout()">logout</a></div> 
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div class="loginmask"></div>
<div id="loginalert">
  <div class="pd20 loginpd">
    <h3><i class="closealert fr"></i>
    </h3>
    <div class="loginwrap">
      <div class="loginh">
        <div class="fl">Login</div>
        <div class="fr">Don't have username?<a id="sigup_now" href="http://sc.chinaz.com/" onclick="return false;">Register now!</a></div>
        <div class="clear"></div>
      </div>
      <h3><span>User Login</span><span class="login_warning">Username or password is wrong!</span>
      </h3>
      <div class="clear"></div>
      <form  method="post" action="/medialabWebapp/rest/user" id="login_form" onsubmit="return checkBeforeLogin()">
        <div class="logininput">
          <input type="text" name="userid" id="userid" class="loginusername" value="Username" onblur="judgeUserid('userid','useridnotes')"/>
          <p id="useridnotes"></p><br/>
          <input type="password" name="password" id="password" class="loginuserpasswordp" style="display:none" onblur="judgePassword('password','passwordnotes')"/>
          <input type="text" class="loginuserpasswordt" value="Password" /><br/>
          <div id="passwordnotes"></div>
        </div>
        <div class="loginbtn">
          <div class="loginsubmit fl">
            <input type="submit"  value="Login" id="login_submitbtn" />
          </div>
          <div class="fr"><a id="frgetpw" href="/medialabWebapp/resetPassword.html">Forget your password?</a></div>
          <div class="clear"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="reg_setp">
  <div class="back_setp">Back</div>
  <div class="blogo"><h2>User Registration</h2></div>
  <div id="setp_quicklogin">
     <form  method="post" id="reg_form" action="/medialabWebapp/rest/user/Registration" onsubmit="return checkBeforeReg()">
        <div class="logininput">
          <input type="text" name="userid" id="reg_userid" class="reg_username" value="Username" onblur="judgeUserid('reg_userid','reg_useridnotes')"/>
          <p id="reg_useridnotes"></p><br/>
          <input type="text" name="email" id="reg_email" class="reg_useremail" value="email used to reset your password" onblur="judgeEmail('reg_email','reg_emailnotes')"/>
          <p id="reg_emailnotes"></p><br/>
          <input type="password" name="password" id="reg_password" class="reg_userpasswordp" style="display:none" onblur="judgePassword('reg_password','reg_passwordnotes')"/>
          <input type="text" class="reg_userpasswordt" value="input your password" /><div id="reg_passwordnotes"></div><br/>
          <input type="password" name="check_password" id="check_reg_password" class="check_reg_userpasswordp" style="display:none" onblur="checkpassword()"/>
          <input type="text" class="check_reg_userpasswordt" value="input your password again" /><div id="check_reg_passwordnotes"></div><br/>
        </div>
        <div class="loginbtn"  style="position:absolute; left:135px">
          <div class="loginsubmit fl">
            <input type="submit" value="Register"  id="reg_submitbtn" />
          </div>
          <div class="clear"></div>
        </div>
      </form>
  </div>
</div>
</body>
</html>